.App {
  width: 100%;
  padding: 20px;
}

.clocks-wrapper {
  display: flex;
}

.clock-box {
  display: flex;
  margin-right: 20px;
}

.clock-box button {
  width: 30px;
  height: 30px;

  border: none;
}

form {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}
 form div {
  display: inline-block;
}

form button {
  margin-left: 20px;
}

input {
  outline: none;
  margin-right: 20px;
}

button {
  background-color: transparent;
}

input, button {
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 5px;
}

.hint-wrapper {
  text-align: center;
}
